/* Impost fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Fonts and colors*/
body {
  color: #212121;
  font-size: 18px;
  line-height: 1,5;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h2 {
  color: #666666;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #8A817C;
  font-weight: 600;
}

/* Desing */
.banner {
  background-image: url("https://source.unsplash.com/1000x500/?programming");
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  font-size: 38px;
}
.banner p {
  font-size: 32px;
}
.container {
  width: 700px;
  margin: 50px auto;
}
.link-medium {
  font-size: 16px;
}
.link-medium:hover {

}
.container-gray {
  background-color: #EFEDE6;
  padding: 20px 20px 40px 20px;
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
}
